.box {
  display: flex;
  margin: 1em;
}

#button {
  background-color: #ff5c7b;
  border: 1px solid #e06277;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  margin: 2em;
  padding: 4px 100px;
}

#button:hover {
  background-color: #e06277;
}

.container {
  background-color: #fcfcfc;
}

#heading {
  margin: 20px;
}

.input {
  margin-top: -24px;
  padding: 0 8px;
}
